# Ambiente virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Banco/local
*.db

# Variáveis de ambiente
.env

# VS Code
.vscode/

# Flask
instance/
.webassets-cache

# Sistema operacional
.DS_Store
Thumbs.db